<!DOCTYPE html>
<html>
<head>
    <title>Chat App</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js" integrity="sha512-q/dWJ3kcmjBLU4Qc47E4A9kTB4m3wuTY7vkFJDTZKjTs8jhyGQnaUrxa0Ytd0ssMZhbNua9hE+E7Qv1j+DyZwA==" crossorigin="anonymous"></script>
    <script>
        var socket = io();

        function joinRoom(room, username) {
            socket.emit('join', {'room': room, 'username': username});
        }

        function leaveRoom(room, username) {
            socket.emit('leave', {'room': room, 'username': username});
        }

        function sendMessage(room, username) {
            var message = document.getElementById('message').value;
            socket.emit('send_message', {'room': room, 'username': username, 'message': message});
            document.getElementById('message').value = '';
        }

        socket.on('message', function(data) {
            var messages = document.getElementById('messages-1');
            var li = document.createElement('li');
            li.appendChild(document.createTextNode(data['username'] + ': ' + data['message']));
            messages.appendChild(li);
        });

        //socket.on('message', function(data) {
        //    var messages = document.getElementById('messages-2');
        //    var li = document.createElement('li');
        //    li.appendChild(document.createTextNode(data['username'] + ': ' + data['message']));
        //    messages.appendChild(li);
        //});
    </script>
</head>
<body>
    <h1>Room 1</h1>
    <button onclick="joinRoom('room1', 'A')">Join Room as A</button>
    <button onclick="joinRoom('room1', 'B')">Join Room as B</button>
    <button onclick="leaveRoom('room1', 'A')">Leave Room as A</button>
    <button onclick="leaveRoom('room1', 'B')">Leave Room as B</button>
    <ul id="messages-1"></ul>
    <input type="text" id="message" autocomplete="off">
    <button onclick="sendMessage('room1', 'A')">Send</button>

    <h1>Room 2</h1>
    <button onclick="joinRoom('room2', 'C')">Join Room as C</button>
    <button onclick="joinRoom('room2', 'D')">Join Room as D</button>
    <button onclick="leaveRoom('room2', 'C')">Leave Room as C</button>
    <button onclick="leaveRoom('room2', 'D')">Leave Room as D</button>
    <ul id="messages-1"></ul>
    <input type="text" id="message" autocomplete="off">
    <button onclick="sendMessage('room2', 'C')">Send</button>
</body>
</html>
